<!DOCTYPE html>
</g>
</svg>
      <div class="wrapper">
        <div class="blurb">
          <h2><strong>Letter:<strong></h2>  
        </div>
        Thank you! I will get in touch with you, shortly.
      </div>
      <p class="copyright">&copy; Sooker 2023</p>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
    <script src="static/js/functions-min.js"></script>
  </body>
</html>